.parent-container {
  background-color: #37718e;
  height: 92vh;
  position: relative;
  top: 8vh;
  overflow-y: scroll;
}

.profile-container {
  width: 60%;
}

.user-info {
  display: flex;
  justify-content: space-around;
  color: white;
}
