/backend/node_modules
/*.pem
/frontend/uber-eats/src/assets
/Submission/Lab 1/Lab1 Report.docx
/Submission/Lab 1/Lab1_CMPE273.docx.pdf
/Submission/Lab 1/Siddharth_lab1_report.pdf
/Submission/Lab 1/UberEats.mp4
/Submission/Lab 2/Siddharth_Lab2_Report.docx
/frontend/restaurantImg/Nick_The_Greek-3.jpg
/frontend/restaurantImg/Nick_The_Greek-6.jpg
/frontend/restaurantImg/doublebacon.png
/frontend/restaurantImg/fries.png
/frontend/restaurantImg/nickthegreek.jpg
/frontend/restaurantImg/panda-express.jpg
/frontend/restaurantImg/popeyes.jpg
/frontend/restaurantImg/smashburger-sjc.jpg
/frontend/restaurantImg/subway.jpg
/frontend/uber-eats/src/components/Navigation/Cart/cart_new.js
