/backend/node_modules
/*.pem
/frontend/uber-eats/src/assets
/Submission
/frontend/restaurantImg
/kafka-backend/node_modules
/backend/package-lock.json
/frontend/uber-eats/package-lock.json
/kafka-backend/package-lock.json
