.nav-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  top: 0;
  position: fixed;
  background: white;
  height: 80px;
  z-index: 1000;
  padding-left: 30px;
  padding-right: 30px;
}

.logo {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
