.rest-details {
  background-color: rgba(71, 73, 73, 0.568);
}

.profile-size {
  width: 80%;
}

.parent {
  height: 92vh;
  position: relative;
  top: 8vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
}

.menu-container {
  margin-right: 0;
}

.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
